/*
========================================================================================
    BJ-SomaticVariantCalling Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/

manifest {
  name = "BJ-SomaticVariantCalling"
  description = "Pipeline performs variant calling for WGS and Exome/Targeted sequencing"
  author = "BioSkryb Genomics"
  mainScript = "main.nf"
  version = '1.0.2'
  nextflowVersion = '!>=22.10.1' // with ! prefix, stop execution if current version does not match required version.
}

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
includeConfig './nf-bioskryb-utils/conf/wgs.config'

params{
  // GENERAL
  help = false
  organization = ""
  workspace = ""
  project = ""
  architecture = "x86" // arm, x86
  somatic_variant_caller = "tnscope" // tnscope, tnseq
  vep_cache = "s3://bioskryb-public-data/pipeline_resources/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/VEP"
  
  // READ INPUTS
  reads = ""
  input_csv = ""
  is_bam = false
  is_fasterq = false
  instrument = ""
  
  // SENTIEON
  variant_caller = "dnascope" // dnascope, haplotyper, all
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome = "GRCh38" // GRCh38, GRCh37 
  mode = "wgs" // wgs, exome
  exome_panel = "" // "xGen Exome Hyb Panel v2" aka IDT, "TruSight One", "TWIST"
  pcrfree = false
  ploidy = 2

  reference           = genomes[ params.genome ][ 'reference' ]
  dbsnp               = genomes[ params.genome ][ 'dbsnp' ]
  dbsnp_index         = genomes[ params.genome ][ 'dbsnp_index' ]
  mills               = genomes[ params.genome ][ 'mills' ]
  mills_index         = genomes[ params.genome ][ 'mills_index' ]
  onekg               = genomes[ params.genome ][ 'onekg' ]
  onekg_index         = genomes[ params.genome ][ 'onekg_index' ]
  base_metrics_intervals = genomes[ params.genome ][ 'base_metrics_intervals' ]
  wgs_or_target_intervals = genomes[ params.genome ][ 'wgs_or_target_intervals' ]
  roi_intervals       = genomes[ params.genome ][ 'roi_intervals' ]
  refseq              = genomes[ params.genome ][ 'refseq' ]
  
  // SNPEFF
  hgvs_old = true

  // MULTIQC
  multiqc_config = "$baseDir/assets/multiqc"


  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  tmp_dir = "/tmp/${params.timestamp}"
  enable_publish = true
  disable_publish = false
  pseudo_bulk_run = false
  
  
  //SKIP MODULES
  skip_variant_annotation = true
  skip_gene_coverage = false
  



  // NOTIFICATIONS
  email_on_fail = "viren.amin@bioskryb.com"
}
