nextflow.enable.dsl = 2
/*
========================================================================================
    BJ-SomaticVariantCalling Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/

manifest {
  name            = "BJ-SomaticVariantCalling"
  description     = "Pipeline performs variant calling for WGS and Exome/Targeted sequencing"
  author          = "BioSkryb Genomics"
  mainScript      = "main.nf"
  version         = '1.0.6'
  nextflowVersion = '!>=22.10.1'
}
nextflow.enable.configProcessNamesValidation = false

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
includeConfig './nf-bioskryb-utils/conf/wgs.config'

params {

  // GENOME
  genomes_base                   = "s3://bioskryb-public-data/pipeline_resources"
  genome                         = "GRCh38"
  reference                      = genomes[params.genome]['reference']

  // INPUTS
  input_csv                      = ""
  bulk_vcf                       = ""

  // OUTPUT
  publish_dir                    = ""
  timestamp                      = new java.util.Date().format('yyMMdd_HHmmss').toString()
  enable_publish                 = true
  disable_publish                = false

  // VEP annotation on chosen variants; runs only if vep_cache_dir is set
  vep_cache_dir                  = "s3://bioskryb-public-data/pipeline_resources/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/VEP"  // set "" to disable
  vep_species                    = "homo_sapiens"
  vep_assembly                   = "GRCh38"
  vep_max_af_1kg                 = 0.01
  vep_filter_by_existing_variation = true

  // Chromosomes to process
  chrs                           = ['chr1','chr2','chr3', 'chr4', 'chr5','chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY' ]
  model_vcf                      = "deepvariant"

  // SEQUOIA_BINOM_BETABINOM_TAB_NV_NR
  aggregated_min_mean_depth      = 5
  aggregated_max_mean_depth      = 500
  gender                         = "female"

  // CONCAT_FILTER_BINOM_BETABINOM_TAB_NV_NR
  first_pass_binomial_cutoff     = -10
  first_pass_betabinomial_cutoff = 0.4

  // CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_SAMPLELEVEL_PROCESS_PILEUP_SAMPLE_CIGAR
  cutoff_mq_hq                   = 30
  cutoff_bq_hq                   = 30
  cutoff_bps_start               = 15
  num_lines_read_pileup          = 250000
  read_length                    = 150

  // CUSTOM_SOMATIC_SNPINDEL_FILTERRAWTABLES
  cutoff_as                      = 140
  cutoff_prop_clipped_reads      = 0.25
  cutoff_prop_bp_under           = 0.3
  cutoff_prop_bp_upper           = 0.3
  cutoff_sd_indiv                = 12
  cutoff_mad_indiv               = 8
  cutoff_sd_both                 = 25
  cutoff_mad_both                = 12
  cutoff_sd_extreme              = 25
  cutoff_mad_extreme             = 12
  cutoff_numreads_variant_manual = 0
  cutoff_goodcov_depth           = 5
  cutoff_prop_cells_goodcov_group = 0.7
  cutoff_num_hq_fragments_forward = 1
  cutoff_num_hq_fragments_reverse = 1
  disable_qc                     = "FALSE"

  // SEQUOIA
  second_pass_binomial_cutoff              = -10
  second_pass_betabinomial_cutoff_rho_snp  = 0.4
  second_pass_betabinomial_cutoff_rho_indel = 0.4
  aggregated_hq_min_mean_depth             = 5
  aggregated_hq_max_mean_depth             = 500

  // SEQUOIA phylogeny
  sequoia_vaf_absent                  = 0.1
  sequoia_vaf_present                 = 0.3
  sequoia_tree_mut_pval               = 0.01
  sequoia_keep_ancestral              = false
  sequoia_split_trees                 = true
  sequoia_genotype_conv_prob          = false
  sequoia_min_pval_for_true_somatic   = 0.05
  sequoia_min_variant_reads_shared    = 2
  sequoia_min_vaf_shared              = 2
  sequoia_create_multi_tree           = true
  sequoia_mpboot_path                 = "/usr/local/bin/"

  // Germline identification
  germline_prev_pct                      = 80

  // ADO analysis
  ado_sample_prop                        = 1.0
  ado_cov_cutoff                         = 10

  // Mutational signature analysis (SigProfiler)
  run_sigprofiler_assignment              = true
  sig_genome_build                        = "GRCh38"
  sig_context_type                        = "96"
  sig_exome                               = false
  sig_export_probabilities                = true
  sig_export_probabilities_per_mutation   = true
  sig_filter_enabled                      = true
  sig_cosmic_version                      = "3.5"
  sig_min_cosine_for_activity             = 0.80

  mutsig_quality_filter               = true

  // NR/NV matrix schemes thresholds for pileup_sequoia scheme
  second_run_hq_binom                 = -5
  second_run_hq_betabinom             = 0.2

  // Phylogeny control
  run_phylogeny_mutsig                = true
  sequoia_phylogeny_mode              = "all"     // snv | indel | both | all
  phylogeny_schemes                   = ""        // comma-sep whitelist; "" = all 4 schemes

}


process {

  withName: 'PREPROCESS_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'MERGE_PROCESSED_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'intense-spot' : 'intense-ondemand' }
    cpus  = 60
    memory  = 243.GB
    time = 48.h
  }

  withName: 'CUSTOM_BAM_GROUP_PILEUP' {
    container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 48.h
  }

  withName: 'CREATE_TAB_NVNR' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'SEQUOIA_BINOM_BETABINOM_TAB_NV_NR' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 16
    memory  = 60.GB
    time = 48.h
  }

  withName: 'CONCAT_FILTER_BINOM_BETABINOM_TAB_NV_NR' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'intense-spot' : 'intense-ondemand' }
    cpus  = 64
    memory  = 243.GB
    time = 48.h
  }

  withName: 'CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_SAMPLELEVEL_PROCESS_PILEUP_SAMPLE_CIGAR' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'CUSTOM_SOMATIC_SNPINDEL_FILTERRAWTABLES' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'intense-spot' : 'intense-ondemand' }
    cpus  = 30
    memory  = 180.GB
    time = 24.h
  }

  withName: 'CUSTOM_CREATE_GROUP_LEVEL_TAB_DFS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 24.h
  }

  withName: 'BULK_GET_VARIANTS_TO_FILTER' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    queue = 'small-spot'
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'SEQUOIA_SECOND_FILTER' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = 'retry'
    queue = 'large-ondemand'
    cpus  = 4
    memory  = 15.GB
    time = 48.h
  }

  withName: 'SUBSET_VCF_VARIANTS' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'ignore'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 48.h
  }

  withName: 'POSTPROCESS_SEQUOIA_DRAWVAFHEAT_TREE' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
    errorStrategy = 'ignore'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 48.h
  }

  withName: 'CUSTOM_VARIANT_FILTER_PROVENANCE' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 48.h
  }

  withName: 'SUBSET_MERGED_VCF_CHOSEN_VARIANTS' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'SPLIT_SUBSET_VCF_BY_CHR' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 4.GB
    time = 4.h
  }

  withName: 'VEP_ANNOTATE' {
    container = "quay.io/biocontainers/ensembl-vep:115.2--pl5321h2a3209d_1"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 24.h
  }

  withName: 'SORT_INDEX_VEP_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 4.GB
    time = 4.h
  }

  withName: 'MERGE_VEP_VCF_BY_GROUP' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 4.GB
    time = 4.h
  }

  withName: 'FILTER_VEP_GERMLINE' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 4.GB
    time = 4.h
  }

  withName: 'CREATE_EMPTY_BULK_VARIANTS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
    errorStrategy = 'ignore'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 1
    memory  = 1.GB
    time = 1.h
  }

  withName: 'FILTER_CHOSEN_VARIANTS_BY_BULK' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 1
    memory  = 2.GB
    time = 2.h
  }

  withName: 'GET_VARIANTS_FROM_MERGED_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'GET_LIST_POS_FROM_CHOSEN_VARIANTS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:utility-lite-0.1.0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 48.h
  }

  withName: 'FILTER_DF_NV_BY_CHOSEN_VARIANTS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'LIST_SAMPLES_FROM_GROUP_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 4.GB
    time = 4.h
  }

  withName: 'ANNOTATE_SAMPLE_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 24.h
  }

  withName: 'CREATE_NR_NV_MATRICES_FROM_ANNOTATED_VCF' {
    container = "quay.io/biocontainers/bcftools:1.14--h88f3f91_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 24.h
  }

  // ── New lineage processes ───────────────────────────────────────────────────

  withName: 'GENOTYPE_TABLE_FROM_ANNOTATED_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'SEQUOIA_PHYLOGENY_SNV' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 8
    memory  = 30.GB
    time = 24.h
  }

  withName: 'SEQUOIA_PHYLOGENY_INDEL' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 8
    memory  = 30.GB
    time = 24.h
  }

  withName: 'SEQUOIA_PHYLOGENY_BOTH' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 8
    memory  = 30.GB
    time = 24.h
  }

  withName: 'TREES_COMPARE_SIMILARITIES' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'SEQUOIA_VARIANT_PLACEMENT_SNV' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'SEQUOIA_VARIANT_PLACEMENT_INDEL' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'SEQUOIA_VARIANT_PLACEMENT_BOTH' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'POSTPROCESS_SEQUOIA_DRAWVAFHEAT_TREE' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = 'ignore'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 48.h
  }

  withName: 'SUBSET_ANNOTATED_VCFS_FOR_MUTSIG' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'SIGPROFILER_ASSIGNMENT' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofiler-0.1.0"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 24.h
  }

  withName: 'MERGE_SIGNATURE_ACTIVITIES' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofiler-0.1.0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'FILTER_VARIANTS_BY_SIG_PROBABILITY' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofiler-0.1.0"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'MERGE_SIG_COSINE_SIMILARITIES' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofiler-0.1.0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'FILTER_ACTIVITIES_BY_COSINE' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofiler-0.1.0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'COMPUTE_MUTSIG_COVERAGE' {
    container = "quay.io/biocontainers/bcftools:1.14--h88f3f91_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time  = 4.h
  }

  withName: 'MERGE_MUTSIG_COVERAGE' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time  = 4.h
  }

  withName: 'PLOT_SIGNATURE_BARGRAPHS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time  = 4.h
  }

  withName: 'COMPILE_MASTER_REPORT' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 12.h
  }

  withName: 'EXTRACT_NR_NV_GT_FROM_ANNOTATED_VCF' {
    container = "quay.io/biocontainers/bcftools:1.14--h88f3f91_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time  = 4.h
  }

  withName: 'PLOT_MATRIX_SCHEME_SUMMARY' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time  = 4.h
  }

  // ── Germline identification ─────────────────────────────────────────────────

  withName: 'IDENTIFY_GERMLINE_FROM_STATS' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'large-spot' : 'large-ondemand' }
    cpus  = 4
    memory  = 15.GB
    time = 24.h
  }

  withName: 'EXTRACT_GERMLINE_PREVALENCE_TABLE' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'PLOT_GERMLINE_PREVALENCE_DISTRIBUTIONS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'SUBSET_MERGED_VCF_HIGH_CONFIDENCE_GERMLINE_FROM_STATS' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  // ── ADO analysis ────────────────────────────────────────────────────────────

  withName: 'CREATE_ADO_TABLE_FROM_GERMLINE_VCF' {
    container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'SUMMARIZE_ADO_INTERVALS' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:r_ado_1.2"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'CONCAT_ADO_STATS|CONCAT_ADO_VEP|CONCAT_ADO_BULK' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:r_ado_1.2"
    errorStrategy = 'retry'
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

  withName: 'PLOT_ADO_GERMLINE_COMPARISON' {
    container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_feb2026"
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    queue = { task.attempt <= 2 ? 'small-spot' : 'small-ondemand' }
    cpus  = 2
    memory  = 7.GB
    time = 4.h
  }

}
