params {
    input_csv                  = "$baseDir/tests/data/inputs/input3.csv"
    publish_dir                = "results/bj-somatic_calling"

    skip_gene_coverage          = true
    skip_variant_annotation     = true
    variant_workflow_type       = "somatic_heuristic_filter"

    max_memory                 = 28.GB
    max_cpus                   = 8
    max_time                   = 2.h
}

process {
    containerOptions = "--env LOCAL=true --env SENTIEON_LICENSE_SERVER=${baseDir}/sentieon_eval.lic -v ${baseDir}/sentieon_eval.lic:${baseDir}/sentieon_eval.lic"
}